body{
  text-align: center;
}
span {
  display:block;
  font-size:25px;
  color:#FFF;
  text-align:center;
 }

#caja1{
  width:330px;
  height:auto;
  background:rgba(204, 0, 0, 0.8);
  border: 3px solid rgba(204, 0, 0, 1);
  margin:5px auto;
  padding:5px;
  color:#FFF;
}
#caja2{
  width:330px;
  height:auto;
  background:rgba(204, 0, 0, 0.8);
  border: 3px solid rgba(204, 0, 0, 1);
  margin:5px auto;
  padding:5px;
  color:#FFF;
}

#contenedor{
  width:350px;
  height:200px;
  background:rgba(38,104,127,0.8);
  border: 3px solid rgba(38,104,127, 1);
  margin:5px auto;
  padding:5px;
}